MDK-ARM/.vscode/
*.o
*.obj
*.d
*.axf
*.elf
*.hex
*.bin
*.dep
*.iex
*.map
*.lst
*.lnp
*.crf
*.htm
*.build_log.htm
*.plg
*.tracespec
*.sct\
*.uvoptx
*.uvopt
*.uvguix.*
*.uvgui.*
*.uvguix
*.uvmpw
*.htm
*.build_log.htm
*.plg
*.tracespec
*.dbg
*.dbgconf
*.sct
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
